<ul>
  {{#foreach recipe.ingredients}}
  <li>
    <input type="number" value="{{ quantity }}" />
    {{ name }}
  </li>
  {{/foreach}}
</ul>

<form action="submit" submit="{{ addIngredient }}">
  <input
    type="text"
    placeholder="Search Ingredients"
    data-bind="
      textInput: ingredientsCollection.query.search
    "
  />
  {{#ifNotEmpty ingredientsCollection.query.search}}
  <ul class="autocomplete">
    {{#foreach ingredientsCollection.docs}}
    <li>{{ name }}</li>
    {{/foreach}}
  </ul>
  {{/ifNotEmpty}}
  <button type="submit">Add new ingredient</button>
</form>

<br />
<br />
