<ul>
  {{#foreach params.recipe.ingredients}}
  <li>
    <i class="fa fa-times" data-bind="click: $component.removeIngredient"></i>
    <input type="number" value="{{ quantity }}" />
    {{ ingredient.name }}
  </li>
  {{/foreach}}
</ul>

<form action="submit" submit="{{ newIngredient }}">
  <autocomplete-input
    params="
    placeholder: 'Search Ingredients',
    search: ingredientsCollection.query.search,
    onSelect: addIngredient,
    options: ingredientOptions,
    getOptionText: (opt) => opt.name
  "
  >
  </autocomplete-input>
  <button type="submit">Add new ingredient</button>
</form>

<br />
<br />
