<form submit="{{ onSubmit }}">
  <label>
    Name
    <input type="text" value="{{ params.ingredient.name }}" />
  </label>

  <label>
    Unit Type
    <select
      data-bind="value: params.ingredient.unitType, options: unitTypes"
    ></select>
  </label>

  <label>
    Grocery Section
    <select
      data-bind="
        value: params.ingredient.groceryStoreSection,
        options: groceryStoreSections
      "
    >
    </select>
  </label>

  <label>
    Note
    <textarea
      rows="10"
      data-bind="textInput: params.ingredient.note"
    ></textarea>
  </label>

  <button type="submit">Save Ingredient</button>
</form>
